<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @reminder.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reminder.description %>
</p>

<%= link_to 'Edit', edit_reminder_path(:id) %> |
<%= link_to 'Back', reminders_path %>
